//Brandon Text --------------------------------------------------

@font-face {
  font-family: 'Brandon Text';
  src: url('../fonts/Brandon_Black.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Text';
  src: url('../fonts/Brandon_Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Text';
  src: url('../fonts/Brandon_Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Brandon Text';
  src: url('../fonts/Brandon_Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

// Visby Round -----------------------------------------------------------------------------

@font-face {
  font-family: 'Visby';
  src: url('../fonts/VisbyRoundCF-ExtraBold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Visby';
  src: url('../fonts/VisbyRoundCF-Bold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Visby';
  src: url('../fonts/VisbyRoundCF-DemiBold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Visby';
  src: url('../fonts/VisbyRoundCF-Medium.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Visby';
  src: url('../fonts/VisbyRoundCF-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}





