@charset "UTF-8";
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.tab-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 4px solid rgba(229, 229, 229, 0.4);
}
.tab-bar .tabs-wrapper {
  position: relative;
  align-self: end;
  margin-bottom: -4px;
}
.tab-bar .tabs-wrapper .tab-slider {
  position: relative;
  width: 64px;
  transition: all 0.33s cubic-bezier(0.38, 0.8, 0.32, 1.07);
  margin-left: 8px;
}
.tab-bar .tabs-wrapper .tab-slider .tab-indicator {
  position: relative;
  width: 42px;
  max-width: 100%;
  margin: 0 auto;
  height: 4px;
  background: #675BE8;
  border-radius: 20px;
}
.tab-bar .tabs-wrapper .tabs {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  margin: 0;
  padding: 0;
}
.tab-bar .tabs-wrapper .tabs .tab {
  box-sizing: border-box;
  margin: 0 8px 0 8px;
  position: relative;
  width: 64px;
  flex: 1;
  text-align: center;
  font-family: "Brandon Text";
  font-size: 21px;
  font-weight: 500;
}
.tab-bar .tabs-wrapper .tabs .tab label {
  transition: all 0.3s ease-in-out;
  color: rgba(103, 91, 232, 0.45);
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  white-space: nowrap;
  -webkit-touch-callout: none;
}
.tab-bar .tabs-wrapper .tabs .tab label:hover, .tab-bar .tabs-wrapper .tabs .tab label:focus, .tab-bar .tabs-wrapper .tabs .tab label:active {
  outline: 0;
  color: #675BE8 !important;
}
.tab-bar .tab-bar-actions {
  background-color: #F6F7FF;
  width: 140px;
  height: 48px;
  padding: 8px 18px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  border-radius: 12px;
  align-items: center;
  margin-bottom: 12px;
}
.tab-bar .tab-bar-actions .action-button {
  fill: #675BE8;
  width: 24px;
  height: 24px;
}
.tab-bar .tab-bar-actions .action-button:hover {
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}

input[name=tab-control]:nth-of-type(1):checked ~ .tabs > tab:nth-child(1) > label {
  cursor: default;
  color: #675BE8;
}
input[name=tab-control]:nth-of-type(1):checked ~ .tab-slider {
  transform: translateX(0%);
}
input[name=tab-control]:nth-of-type(1):checked ~ .tabbed-content > .content:nth-child(1) {
  display: block;
}
input[name=tab-control]:nth-of-type(2):checked ~ .tabs > tab:nth-child(2) > label {
  cursor: default;
  color: #675BE8;
}
input[name=tab-control]:nth-of-type(2):checked ~ .tab-slider {
  transform: translateX(100%);
}
input[name=tab-control]:nth-of-type(2):checked ~ .tabbed-content > .content:nth-child(2) {
  display: block;
}

@keyframes content {
  from {
    opacity: 0;
    transform: translateY(5%);
  }
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.table-view {
  overflow: hidden;
  height: 100%;
  padding: 18px 0;
}

.table-wrapper {
  padding: 0 12px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.table-wrapper table.dataTable {
  clear: both;
  margin-top: 6px !important;
  margin-bottom: 24px !important;
  max-width: none !important;
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
  font-family: "Brandon Text";
  flex-grow: 1;
}
.table-wrapper table.dataTable td.dataTables_empty {
  text-align: center;
}
.table-wrapper table.dataTable th.dataTables_empty {
  text-align: center;
}
.table-wrapper table.dataTable > thead > tr > th:active {
  outline: none;
}
.table-wrapper table.dataTable > thead > tr > th:not(.sorting_disabled) {
  padding-right: 30px;
}
.table-wrapper table.dataTable > thead > tr > td:active {
  outline: none;
}
.table-wrapper table.dataTable > thead > tr > td:not(.sorting_disabled) {
  padding-right: 30px;
}
.table-wrapper table.dataTable > thead .sorting {
  cursor: pointer;
  position: relative;
}
.table-wrapper table.dataTable > thead .sorting:before {
  position: absolute;
  bottom: 0.5rem;
  display: block;
  opacity: 0.3;
  right: 1.5em;
  content: "↑";
}
.table-wrapper table.dataTable > thead .sorting:after {
  position: absolute;
  bottom: 0.5rem;
  display: block;
  opacity: 0.3;
  right: 1em;
  content: "↓";
}
.table-wrapper table.dataTable > thead .sorting_asc {
  cursor: pointer;
  position: relative;
}
.table-wrapper table.dataTable > thead .sorting_asc:before {
  position: absolute;
  bottom: 0.5rem;
  display: block;
  opacity: 0.3;
  right: 1.5em;
  content: "↑";
  opacity: 1;
}
.table-wrapper table.dataTable > thead .sorting_asc:after {
  position: absolute;
  bottom: 0.5rem;
  display: block;
  opacity: 0.3;
  right: 1em;
  content: "↓";
}
.table-wrapper table.dataTable > thead .sorting_desc {
  cursor: pointer;
  position: relative;
}
.table-wrapper table.dataTable > thead .sorting_desc:before {
  position: absolute;
  bottom: 0.5rem;
  display: block;
  opacity: 0.3;
  right: 1.5em;
  content: "↑";
}
.table-wrapper table.dataTable > thead .sorting_desc:after {
  position: absolute;
  bottom: 0.5rem;
  display: block;
  opacity: 0.3;
  right: 1em;
  content: "↓";
  opacity: 1;
}
.table-wrapper table.dataTable > thead .sorting_asc_disabled {
  cursor: pointer;
  position: relative;
}
.table-wrapper table.dataTable > thead .sorting_asc_disabled:before {
  position: absolute;
  bottom: 0.5rem;
  display: block;
  opacity: 0.3;
  right: 1.5em;
  content: "↑";
  opacity: 0;
}
.table-wrapper table.dataTable > thead .sorting_asc_disabled:after {
  position: absolute;
  bottom: 0.5rem;
  display: block;
  opacity: 0.3;
  right: 1em;
  content: "↓";
}
.table-wrapper table.dataTable > thead .sorting_desc_disabled {
  cursor: pointer;
  position: relative;
}
.table-wrapper table.dataTable > thead .sorting_desc_disabled:before {
  position: absolute;
  bottom: 0.5rem;
  display: block;
  opacity: 0.3;
  right: 1.5em;
  content: "↑";
}
.table-wrapper table.dataTable > thead .sorting_desc_disabled:after {
  position: absolute;
  bottom: 0.5rem;
  display: block;
  opacity: 0.3;
  right: 1em;
  content: "↓";
  opacity: 0;
}
.table-wrapper table.dataTable td {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 36px;
  padding: 4px 24px;
  color: rgba(79, 79, 79, 0.8);
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 14px;
}
.table-wrapper table.dataTable th {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 36px;
  padding: 4px 24px;
  background-color: #FCFCFF;
  border-top: 1px solid #675BE8;
  border-bottom: 1px solid #675BE8;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: left;
  min-width: 60px;
}
.table-wrapper table.dataTable tr:first-child td {
  border-top: none;
}
.table-wrapper table.dataTable tr:last-child td {
  border-bottom: none;
}
.table-wrapper table.dataTable tr th:first-child {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  border-left: 1px solid #675BE8;
}
.table-wrapper table.dataTable tr th:last-child {
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-right: 1px solid #675BE8;
}
.table-wrapper table.dataTable thead tr {
  color: #675BE8;
}
.table-wrapper table.dataTable tfoot tr {
  color: #FCFCFF;
}
.table-wrapper table.dataTable tbody tr td {
  border-top: 1px solid rgba(229, 229, 229, 0.4);
  border-bottom: 1px solid rgba(229, 229, 229, 0.4);
}
.table-wrapper table.dataTable tbody tr:hover {
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}

div.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
}
div.dataTables_paginate ul.pagination {
  margin: 2px 0;
  white-space: nowrap;
  justify-content: flex-end;
}
div.dataTables_paginate .paginate_button {
  font-family: "Brandon Text";
  padding: 8px 16px;
  margin: 0 4px;
  border-radius: 0.2rem;
  color: #675BE8;
  font-weight: 600;
}
div.dataTables_paginate .paginate_button:hover {
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  border: 2px solid #675BE8;
}
div.dataTables_paginate .paginate_button.disabled {
  color: rgba(103, 91, 232, 0.45);
  border: none;
}
div.dataTables_paginate .paginate_button.previous.disabled:hover, div.dataTables_paginate .paginate_button.next.disabled:hover {
  box-shadow: none;
  background-color: #FCFCFF;
  color: rgba(103, 91, 232, 0.45);
}
div.dataTables_paginate .paginate_button.previous:hover, div.dataTables_paginate .paginate_button.next:hover {
  background-color: #675BE8;
  color: #FCFCFF;
}
div.dataTables_paginate .paginate_button.current {
  background-color: #675BE8;
  color: #FCFCFF;
}

.table-content {
  flex-grow: 1;
}

table.dataTable.nowrap th {
  white-space: nowrap;
}
table.dataTable.nowrap td {
  white-space: nowrap;
}

.dataTables_wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.dataTables_wrapper div.dataTables_length label {
  font-weight: normal;
  text-align: left;
  white-space: nowrap;
}
.dataTables_wrapper div.dataTables_length select {
  width: auto;
  display: inline-block;
}
.dataTables_wrapper div.dataTables_filter {
  text-align: right;
}
.dataTables_wrapper div.dataTables_filter label {
  font-weight: normal;
  white-space: nowrap;
  text-align: left;
}
.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0.5em;
  display: inline-block;
  width: auto;
}
.dataTables_wrapper div.dataTables_info {
  padding-top: 0.85em;
}
.dataTables_wrapper div.dataTables_processing {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  margin-top: -26px;
  text-align: center;
  padding: 1em 0;
}

div.dataTables_scrollHead table.dataTable {
  margin-bottom: 0 !important;
}
div.dataTables_scrollHead table.table-bordered {
  border-bottom-width: 0;
}

div.dataTables_scrollBody table {
  border-top: none;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
div.dataTables_scrollBody table thead .sorting:before {
  display: none;
}
div.dataTables_scrollBody table thead .sorting:after {
  display: none;
}
div.dataTables_scrollBody table thead .sorting_asc:before {
  display: none;
}
div.dataTables_scrollBody table thead .sorting_asc:after {
  display: none;
}
div.dataTables_scrollBody table thead .sorting_desc:before {
  display: none;
}
div.dataTables_scrollBody table thead .sorting_desc:after {
  display: none;
}
div.dataTables_scrollBody table tbody tr:first-child th {
  border-top: none;
}
div.dataTables_scrollBody table tbody tr:first-child td {
  border-top: none;
}

div.dataTables_scrollFoot > .dataTables_scrollFootInner {
  box-sizing: content-box;
}
div.dataTables_scrollFoot > .dataTables_scrollFootInner > table {
  margin-top: 0 !important;
  border-top: none;
}

table.dataTable.table-sm > thead > tr > th:not(.sorting_disabled) {
  padding-right: 20px;
}
table.dataTable.table-sm .sorting:before {
  top: 5px;
  right: 0.85em;
}
table.dataTable.table-sm .sorting:after {
  top: 5px;
}
table.dataTable.table-sm .sorting_asc:before {
  top: 5px;
  right: 0.85em;
}
table.dataTable.table-sm .sorting_asc:after {
  top: 5px;
}
table.dataTable.table-sm .sorting_desc:before {
  top: 5px;
  right: 0.85em;
}
table.dataTable.table-sm .sorting_desc:after {
  top: 5px;
}

@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Black.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Brandon Text";
  src: url("../fonts/Brandon_Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
.card-view {
  grid-gap: 12px;
  padding: 12px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  display: grid;
}
.card-view .card {
  width: 320px;
  height: 220px;
  border-bottom: 1px solid rgba(229, 229, 229, 0.4);
  display: flex;
  flex-direction: column;
  padding: 24px;
  box-sizing: border-box;
  font-family: "Brandon Text";
}
.card-view .card .card-header {
  color: #675BE8;
  font-weight: 500;
  font-size: 22px;
}
.card-view .card .card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
  color: #4F4F4F;
}
.card-view .card .card-body .body-text {
  margin-bottom: 12px;
  font-size: 16px;
  font-weight: 400;
  color: rgba(79, 79, 79, 0.9);
}
.card-view .card .card-body .tag {
  display: flex;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.5px;
  color: rgba(79, 79, 79, 0.9);
}
.card-view .card .card-body .tag .tag-icon {
  fill: #675BE8;
  margin-right: 8px;
}
.card-view .card .card-footer {
  display: flex;
  justify-content: space-between;
  font-family: "Brandon Text";
}
.card-view .card .card-footer .footer-detail {
  border: 1px solid #64CFF4;
  display: flex;
  border-radius: 0.4rem;
}
.card-view .card .card-footer .footer-detail .detail-label {
  background-color: #675BE8;
  color: #FCFCFF;
  padding: 4px 8px;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
}
.card-view .card .card-footer .footer-detail .detail-text {
  color: #64CFF4;
  padding: 4px 32px 4px 8px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
}
.card-view .card .card-footer .card-button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: #64CFF4;
  font-family: "Brandon Text";
  color: #FCFCFF;
  font-weight: 400;
  box-shadow: none;
  border-radius: 0.4rem;
  padding: 4px 16px;
  margin: 0 2px;
  letter-spacing: 1px;
}
.card-view .card .card-footer .card-button:hover {
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}
.card-view .card:hover {
  border-bottom: 0;
  border-radius: 1rem;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
  background-color: #FCFCFF;
}

#root {
  padding: 0;
  margin: 0;
}

body {
  padding: 0 !important;
  margin: 0 !important;
}
body .wrapper {
  background-color: #F6F7FF;
  display: grid;
  height: calc(100vh - (2 * 12px));
  grid-gap: 12px;
  padding: 12px;
  grid-template-columns: min-content 5fr;
  grid-template-areas: "sidebar content";
}
body .wrapper .sidebar.expanded {
  grid-area: sidebar;
  width: 220px;
  padding: 8px 8px 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .wrapper .sidebar.expanded .nav-item {
  border-radius: 8px;
  padding: 4px 12px;
  font-size: 20px;
  letter-spacing: 2px;
  font-family: "Brandon Text";
  font-weight: 600;
  font-style: normal;
  height: 40px;
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  text-decoration: none;
  color: rgba(103, 91, 232, 0.45);
}
body .wrapper .sidebar.expanded .nav-item .item-icon {
  margin-right: 8px;
  fill: rgba(103, 91, 232, 0.45);
  position: relative;
  bottom: 1px;
  font-size: 24px;
}
body .wrapper .sidebar.expanded .nav-item .item-link {
  text-align: center;
}
body .wrapper .sidebar.expanded .profile-data {
  background-color: #675BE8;
  border-radius: 24px;
  height: 120px;
  position: relative;
  padding: 8px;
}
body .wrapper .sidebar.expanded .profile-data .data-content {
  display: flex;
  justify-content: stretch;
  font-family: "Brandon Text";
}
body .wrapper .sidebar.expanded .profile-data .data-content .profile-pic {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #FCFCFF;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrapper .sidebar.expanded .profile-data .data-content .profile-text {
  color: #FCFCFF;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
}
body .wrapper .sidebar.expanded .profile-data .toggle-button {
  position: absolute;
  bottom: 8px;
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .wrapper .sidebar.expanded .profile-data .toggle-button .toggle-icon {
  fill: #FCFCFF;
  height: 24px;
  width: 24px;
}
body .wrapper .sidebar.expanded .profile-data .toggle-button.collapsed {
  transform: rotate(180deg);
}
body .wrapper .sidebar.expanded .profile-data .toggle-button:hover {
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}
body .wrapper .sidebar.expanded .nav-content .logo-container {
  display: flex;
  height: 60px;
  margin-bottom: 24px;
  font-family: "Brandon Text";
  font-weight: 800;
  font-size: 42px;
}
body .wrapper .sidebar.expanded .nav-content .logo-container .logo {
  border-radius: 12px;
  height: 48px;
  width: 48px;
  background-color: #FCFCFF;
  margin-right: 8px;
  position: relative;
  top: 4px;
}
body .wrapper .sidebar.expanded .nav-content .logo-container .logo-text .logo-text-primary {
  color: #675BE8;
}
body .wrapper .sidebar.expanded .nav-content .logo-container .logo-text .logo-text-secondary {
  color: #64CFF4;
}
body .wrapper .sidebar.collapsed {
  grid-area: sidebar;
  width: 48px;
  padding: 8px 8px 8px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body .wrapper .sidebar.collapsed .nav-item {
  border-radius: 8px;
  text-decoration: none;
  padding: 4px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  color: rgba(103, 91, 232, 0.45);
}
body .wrapper .sidebar.collapsed .nav-item .item-icon {
  fill: rgba(103, 91, 232, 0.45);
  position: relative;
  bottom: 1px;
  font-size: 24px;
}
body .wrapper .sidebar.collapsed .nav-item .item-link {
  display: none;
}
body .wrapper .sidebar.collapsed .profile-data {
  background-color: #675BE8;
  border-radius: 24px;
  height: 100px;
  position: relative;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
body .wrapper .sidebar.collapsed .profile-data .data-content {
  display: flex;
  justify-content: stretch;
  font-family: "Brandon Text";
}
body .wrapper .sidebar.collapsed .profile-data .data-content .profile-pic {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  color: #FCFCFF;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .wrapper .sidebar.collapsed .profile-data .data-content .profile-text {
  display: none;
}
body .wrapper .sidebar.collapsed .profile-data .profile-pic {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
}
body .wrapper .sidebar.collapsed .profile-data .toggle-button {
  height: 36px;
  width: 36px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .wrapper .sidebar.collapsed .profile-data .toggle-button .toggle-icon {
  fill: #FCFCFF;
  height: 24px;
  width: 24px;
}
body .wrapper .sidebar.collapsed .profile-data .toggle-button.collapsed {
  transform: rotate(180deg);
}
body .wrapper .sidebar.collapsed .profile-data .toggle-button:hover {
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}
body .wrapper .sidebar.collapsed .nav-content .logo-container {
  display: flex;
  height: 60px;
  margin-bottom: 24px;
  font-family: "Brandon Text";
  font-weight: 800;
  font-size: 42px;
  justify-content: center;
}
body .wrapper .sidebar.collapsed .nav-content .logo-container .logo {
  border-radius: 12px;
  height: 48px;
  width: 48px;
  background-color: #FCFCFF;
  position: relative;
  top: 4px;
}
body .wrapper .sidebar.collapsed .nav-content .logo-container .logo-text {
  display: none;
}
body .wrapper .content-wrapper {
  grid-area: content;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
body .wrapper .content-wrapper .bottom-bar {
  font-family: "Brandon Text";
  margin-top: 24px;
  margin-bottom: 8px;
  display: flex;
  height: 46px;
  align-items: stretch;
}
body .wrapper .content-wrapper .bottom-bar .filter-box {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  padding: 8px 42px;
  background-color: #FCFCFF;
  border-radius: 18px;
}
body .wrapper .content-wrapper .bottom-bar .filter-box .filter-button {
  display: flex;
  align-items: center;
  font-weight: 600;
  color: rgba(103, 91, 232, 0.45);
  font-size: 18px;
}
body .wrapper .content-wrapper .bottom-bar .filter-box .filter-button.active {
  color: #675BE8;
}
body .wrapper .content-wrapper .bottom-bar .filter-box .filter-button:hover {
  color: #675BE8;
  cursor: pointer;
}
body .wrapper .content-wrapper .bottom-bar .manage-button {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin-left: 24px;
  padding: 8px 24px;
  background-color: #64CFF4;
  font-family: "Brandon Text";
  color: #FCFCFF;
  font-weight: 500;
  box-shadow: none;
  border-radius: 18px;
  width: 200px;
}
body .wrapper.condensed {
  grid-template-columns: 0.25fr 5fr !important;
}

.nav-item.active {
  color: #FCFCFF !important;
  background-color: #675BE8 !important;
}
.nav-item.active .item-icon {
  fill: #FCFCFF !important;
}

.nav-item.active::before {
  content: "";
  height: 52px;
  width: 6px;
  background-color: #675BE8;
  position: absolute;
  left: 0;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.nav-item.active:hover {
  color: #FCFCFF !important;
  background-color: #675BE8 !important;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}
.nav-item.active:hover .item-icon {
  fill: #FCFCFF !important;
}

.nav-item:hover {
  color: #675BE8 !important;
  background-color: #FCFCFF !important;
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}
.nav-item:hover .item-icon {
  fill: #675BE8 !important;
}

.active-shadow {
  box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
}

.search-box {
  height: 48px;
  background-color: #F6F7FF;
  padding: 8px 18px;
  border-radius: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 240px;
}
.search-box .search-btn {
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-box .search-btn .search-ico {
  fill: #4F4F4F;
}
.search-box .search-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #4F4F4F;
  font-family: "Brandon Text";
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 1.5px;
  width: 180px;
}

.search-box.light {
  background-color: #FCFCFF;
}

.tabbed-content {
  padding: 0;
}

.tabbed-content.active {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: stretch;
  overflow-y: scroll;
}

/*# sourceMappingURL=main.css.map */
