@import '../variables';
@import '../fonts';
@import '../mixins';

.contacts-wrapper {
  background-color: $base-white;
  border-radius: 16px;
  padding: 16px;
  flex-grow: 1;
  border: 4px solid $divider-color;
  display: grid;
  grid-template-rows: 72px 1fr;
  grid-gap: 0;

  .titlebar-actions {
    width: 180px !important;
    margin-left: 12px;
  }
}