@import '../variables';
@import '../mixins';
@import '../fonts';

.table-view {
  padding: 10px 18px;
}
table.dataTable {
  max-width: none !important;
  border-collapse: separate;
  border-spacing: 0 8px;
  width: 100%;
  font-family: $primary-font;

  tr {
    border-radius: 0.4rem;
    cursor: pointer;
  }

  td.dataTables_empty {
    text-align: center;
  }
  th.dataTables_empty {
    text-align: center;
  }
  >thead {
    >tr {
      >th {
        &:active {
          outline: none;
        }
        &:not(.sorting_disabled) {
          padding-right: 30px;
        }
      }
      >td {
        &:active {
          outline: none;
        }
        &:not(.sorting_disabled) {
          padding-right: 30px;
        }
      }
    }
    .sorting {
      cursor: pointer;
      position: relative;

      &:before {
        position: absolute;
        bottom: 0.5rem;
        display: block;
        opacity: 0;
        right: 1.5em;
        content: "↑";
      }
      &:after {
        position: absolute;
        bottom: 0.5rem;
        display: block;
        opacity: 0;
        right: 1em;
        content: "↓";
      }
    }
    .sorting_asc {
      cursor: pointer;
      position: relative;
      &:before {
        position: absolute;
        bottom: 0.5rem;
        display: block;
        right: 1.5em;
        content: "↑";
        opacity: 1;
      }
      &:after {
        position: absolute;
        bottom: 0.5rem;
        display: block;
        opacity: 0;
        right: 1em;
        content: "↓";
      }
    }
    .sorting_desc {
      cursor: pointer;
      position: relative;
      &:before {
        position: absolute;
        bottom: 0.5rem;
        display: block;
        opacity: 0;
        right: 1.5em;
        content: "↑";
      }
      &:after {
        position: absolute;
        bottom: 0.5rem;
        display: block;
        right: 1.5em;
        content: "↓";
        opacity: 1;
      }
    }
    .sorting_asc_disabled {
      cursor: pointer;
      position: relative;
      &:before {
        position: absolute;
        bottom: 0.5rem;
        display: block;
        right: 1.5em;
        content: "↑";
        opacity: 0.3;
      }
      &:after {
        position: absolute;
        bottom: 0.5rem;
        display: block;
        opacity: .3;
        right: 1.5em;
        content: "↓";
      }
    }
    .sorting_desc_disabled {
      cursor: pointer;
      position: relative;
      &:before {
        position: absolute;
        bottom: 0.5rem;
        display: block;
        opacity: .3;
        right: 1.5em;
        content: "↑";
      }
      &:after {
        position: absolute;
        bottom: 0.5rem;
        display: block;
        right: 1.5em;
        content: "↓";
        opacity: 0.3;
      }
    }
  }

  td {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 36px;
    padding: 4px 24px;
    color: $color-gray-3;
    font-family: $secondary-font;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 12px;
    border-top: 1px solid $divider-color;
    border-bottom: 1px solid $divider-color;

  }
  th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    height: 36px;
    padding: 4px 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: left;
    min-width: 60px;
    color: $primary-color;
  }

  tr th:first-child {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
  }

  tr th:last-child {
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
  }

  tr td:first-child {
    border-top-left-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;
    border-left: 1px solid $divider-color;
  }

  tr td:last-child {
    border-top-right-radius: 0.4rem;
    border-bottom-right-radius: 0.4rem;
    border-right: 1px solid $divider-color;
  }

  tbody {
    tr:hover {
      box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
    }
  }
}

.table-footer {
  margin-top: 20px;
}

.dataTables_paginate {
  margin: 0;
  white-space: nowrap;
  text-align: right;
  ul.pagination {
    margin: 2px 0;
    white-space: nowrap;
    justify-content: flex-end;
  }

  .paginate_button {
    font-family: $primary-font;
    padding: 8px 16px;
    margin: 0 4px;
    border-radius: 0.2rem;
    color: $primary-color;
    font-weight: 600;
  }

  .paginate_button:hover {
    box-shadow: 0 8px 24px rgba(149, 157, 165, 0.2);
    border: 2px solid $primary-color;
  }

  .paginate_button.disabled {
    color: $primary-color-inactive;
    border: none;
  }

  .paginate_button.previous.disabled:hover, .paginate_button.next.disabled:hover {
    box-shadow: none;
    background-color: $base-white;
    color: $primary-color-inactive;
  }
  .paginate_button.previous:hover, .paginate_button.next:hover {
    background-color: $primary-color;
    color: $base-white;
  }

  .paginate_button.current {
    background-color: $primary-color;
    color: $base-white;
  }
}


table.dataTable.nowrap {
  th {
    white-space: nowrap;
  }
  td {
    white-space: nowrap;
  }
}
.dataTables_wrapper {
  div.dataTables_length {
    label {
      font-weight: normal;
      text-align: left;
      white-space: nowrap;
    }
    select {
      width: auto;
      display: inline-block;
    }
  }
  div.dataTables_filter {
    text-align: right;
    label {
      font-weight: normal;
      white-space: nowrap;
      text-align: left;
    }
    input {
      margin-left: .5em;
      display: inline-block;
      width: auto;
    }
  }
  div.dataTables_info {
    padding-top: .85em;
  }


  div.dataTables_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -26px;
    text-align: center;
    padding: 1em 0;
  }
}


div.dataTables_scrollHead {
  table.dataTable {
    margin-bottom: 0 !important;
  }
  table.table-bordered {
    border-bottom-width: 0;
  }
}
div.dataTables_scrollBody {
  table {
    border-top: none;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    thead {
      .sorting {
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
      }
      .sorting_asc {
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
      }
      .sorting_desc {
        &:before {
          display: none;
        }
        &:after {
          display: none;
        }
      }
    }
    tbody {
      tr {
        &:first-child {
          th {
            border-top: none;
          }
          td {
            border-top: none;
          }
        }
      }
    }
  }
}
div.dataTables_scrollFoot {
  >.dataTables_scrollFootInner {
    box-sizing: content-box;
    >table {
      margin-top: 0 !important;
      border-top: none;
    }
  }
}